.grid {
	display: grid;
}
.flex {
	display: flex;
}
h2 {
	line-height: 0.8;
	margin: 0;
	font-size: calc(20px + 6vmin);
	text-transform: uppercase;
}
.App {
	grid-template-columns: minmax(0, 30%) minmax(0, 70%);
	min-height: 100vh;
}
.App-header {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header > p {
	text-align: center;
	text-transform: uppercase;
	font-size: calc(1rem + 0.2vmin);
}
.App-conatat {
	margin-top: 1rem;
}
.App-conatat > ul {
	margin: 0;
	padding: 0;
}
.App-conatat > ul > li {
	list-style-type: none;
	margin-bottom: 0.3rem;
}
.App-conatat > ul > li > a {
	color: rgba(51, 110, 162, 0.833);
	font-size: calc(1rem + 0.6vmin);
	text-transform: capitalize;
}
.App-container {
	flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}
.App-container > ul > li {
	margin-bottom: 0.5rem;
}
