/* fonts */
$redHatDisplay-Medium: "RedHatDisplay-Medium", sans-serif;
$redHatDisplay-Bold: "RedHatDisplay-Bold", sans-serif;
$redHatDisplay-Black: "RedHatDisplay-Black", sans-serif;
/* colors */
$white: white;
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darcBlue: hsl(223, 47%, 23%);
$activeBlue: hsl(245, 55%, 53%);
$headerGradient: linear-gradient(195deg,#42424a,#191919);