/* fonts */
$redHatDisplay-Medium: "RedHatDisplay-Medium", sans-serif;
$redHatDisplay-Bold: "RedHatDisplay-Bold", sans-serif;
$redHatDisplay-Black: "RedHatDisplay-Black", sans-serif;
/* colors */
$white: white;
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(230, 13%, 54%);
$darcBlue: hsl(218, 33%, 30%);
$activeBlue: hsl(245, 55%, 53%);
$headerGradient: linear-gradient(195deg,#42424a,#191919);
$body: hsl(216,20%,95%);