@use "sass:math";
@import "vars";
@import "base";
@import "fonts";
.navbar-item {
	margin-right: 1rem;
	&:last-child {
		margin-right: 0;
	}
}
.header {
	padding: 0;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: 50%;
	background-image: url(../assets/img/header-bg.jpg);
	min-height: 70vh;
	> span {
		opacity: 0.6;
		background-image: $headerGradient;
		position: absolute;
		background-position: 50%;
		background-size: cover;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.container {
		z-index: 1;
		> h1,
		p {
			color: $white !important;
		}
	}
}
.card-page {
	position: relative;
	margin-top: -4rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-width: 0;
	word-wrap: break-word;
	background-color: $white;
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, 0.125);
	border-radius: 0.75rem;
	padding: 1rem;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.row-box {
	align-items: center;
	flex-wrap: wrap;
}
.row {
	position: relative;
}
.column {
	width: 50%;
}
.-mini {
	width: 33%;
}
.box-item {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(2rem, 13rem) minmax(2rem, 13rem);
	column-gap: 3rem;
	align-items: baseline;
	.box {
		h3 {
			margin-bottom: 0.5rem;
		}
	}
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: $white;
	background-clip: border-box;
	border: 0 solid rgba(0,0,0,.125);
	border-radius: 0.75rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.04);
	&-header {
		position: relative;
		margin-right: 1rem;
		margin-left: 1rem;
		margin-top: -1.5rem;
		margin-bottom: 0;
    background-color: $white;
    border-bottom: 0 solid rgba(0,0,0,.125);
		z-index: 2;
		&:first-child {
			border-radius: 0.75rem 0.75rem 0 0;
		}
		span {
			display: block;
			img {
				max-width: 100%;
				height: auto;
				border-radius: 0.5rem;
			}
		}
	}
	&-body {
		padding: 1rem;
		flex: 1 1 auto;
		text-align: center;
		h4 {
			margin-bottom: 0.5rem;
		}
		.btn {
			margin-top: 1rem;
		}
	}
}
.footer {
	margin-top: 3rem;
	padding-top: 3rem;
}
//** About autor **//
.thumb {
	width: 100%;
	margin-top: -10rem;
	text-align: center;
}
.avatar {
	position: relative;
	z-index: 2;
	width: 110px !important;
	height: 110px !important;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
		border-radius: 50rem;
}
.information {
	width: 60%;
}
@import "media";
